main {
  --xs: 0px;
  --sm: 600px;
  --md: 900px;
  --lg: 1200px;
  --xl: 1536px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

main {
  padding: 0 8rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@media screen and (max-width: 830px) {
  main {
    padding: 0 2rem;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
